asgiref==3.8.1
beautifulsoup4==4.13.4
crispy-bootstrap5==2025.6
Django==4.2.23
django-bootstrap-v5==1.0.11
django-crispy-forms==2.4
djangorestframework==3.16.0
fontawesomefree==6.6.0
pillow==11.2.1
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
gunicorn-23.0.0
