{% extends "include/base.html" %} 
{% block title %}Page d'accueil{% endblock %}
{% block content %}
<div class="container-fluid pb-3 pt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-12">
        <form method="post" class="card card-sm">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                  {% csrf_token %}
                  {{ form.as_p }}
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Search</button>
                </div>
                <!--end of col-->
            </div>
        </form>
    </div>
    <!--end of col-->
</div>
</div>
  <div class="col-12 pb-3">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-primary bg-gradient text-white">
          <div class="card-body">
            <h5 class="card-title">Personne avec Metier</h5>
            <p class="card-text">120 K</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-success bg-gradient text-white">
          <div class="card-body">
            <h5 class="card-title">Personne en Europe</h5>
            <p class="card-text">1000 K</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-secondary bg-gradient text-white">
          <div class="card-body">
            <h5 class="card-title">Personne au USA</h5>
            <p class="card-text">2500 K</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Code</th>
        <th>Nom et Prenom</th>
        <th>Telephone</th>
        <th>Residence Actuelle</th>
        <th>Pere</th>
        <th>Mere</th>
        <th>Metier</th>
      </tr>
    </thead>
    <tbody>
      {% if resultats %}
        <h3 class="mt-4">Résultats :</h3>
          {% for personne in search %}
                <tr>
                  <td>{{personne.code_unique}}</td>
                  <td>{{personne.nom}} {{personne.prenom}}</td>
                  <td>{{personne.telephone}}</td>
                  <td>{{personne.reseidence_actuel}}</td>
                  <td>{{personne.pere}}</td>
                  <td>{{personne.mere}}</td>
                  <td>{{personne.metier}}</td>
                </tr>
          {% endfor %}
          <div class="pagination">
            <span class="step-links">
              {% if search.has_previous %}
                <a href="?page=1">&laquo; première</a>
                <a href="?page={{ search.previous_page_number }}">précédent</a>
              {% endif %}
          
              <span class="current">
                Page {{ search.number }} de {{ page.paginator.num_pages }}.
              </span>
          
              {% if search.has_next %}
                <a href="?page={{ search.next_page_number }}">suivant</a>
                <a href="?page={{ search.paginator.num_pages }}">dernière &raquo;</a>
              {% endif %}
            </span>
          </div>
      {% else %}
        {% for personne in page %}
          <tr>
            <td>{{personne.code_unique}}</td>
            <td>{{personne.nom}} {{personne.prenom}}</td>
            <td>{{personne.telephone}}</td>
            <td>{{personne.reseidence_actuel}}</td>
            <td>{{personne.pere}}</td>
            <td>{{personne.mere}}</td>
            <td>{{personne.metier}}</td>
          </tr>
        {% endfor %}
        <div class="pagination">
          <span class="step-links">
            {% if page.has_previous %}
              <a href="?page=1">&laquo; première</a>
              <a href="?page={{ page.previous_page_number }}">précédent</a>
            {% endif %}
        
            <span class="current">
              Page {{ page.number }} de {{ page.paginator.num_pages }}.
            </span>
        
            {% if page.has_next %}
              <a href="?page={{ page.next_page_number }}">suivant</a>
              <a href="?page={{ page.paginator.num_pages }}">dernière &raquo;</a>
            {% endif %}
          </span>
        </div>
      {% endif %}

      
      <!--<tr>
        <td>AS10</td>
        <td>Diallo Aisssatou</td>
        <td>(+224) 621 55 20 10</td>
        <td>France</td>
        <td>Paris</td>
        <td>Informatique</td>
      </tr>-->
    </tbody>
  </table>
  <div>  
  </div>
</div>
{% endblock %}
